/************************************/
/* KEYFRAMES*/
/************************************/

/***************** receipes animation *******************/

@keyframes bounce-slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
    width: 17px;
  }
  25% {
    -webkit-transform: translateX(2.5px);
    transform: translateX(2.5px);
    opacity: 0.25;
    width: 27px;
  }
  50% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    opacity: 0.5;
    width: 37px;
  }
  75% {
    -webkit-transform: translateX(7.5px);
    transform: translateX(7.5px);
    opacity: 0.75;
    width: 47px;
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 1;
    width: 57px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/***************** receipes opacity  *******************/
@keyframes receipe-opacity {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.show-receipe-with-opacity {
  animation: receipe-opacity 1s both;
}

#case-1 {
  animation-delay: 0.1s;
}

#case-2 {
  animation-delay: 0.2s;
}

#case-3 {
  animation-delay: 0.3s;
}

#case-4 {
  animation-delay: 0.4s;
}

#case-5 {
  animation-delay: 0.5s;
}

#case-6 {
  animation-delay: 0.6s;
}

#case-7 {
  animation-delay: 0.7s;
}

#case-8 {
  animation-delay: 0.8s;
}

#case-9 {
  animation-delay: 0.9s;
}
#case-10 {
  animation-delay: 1s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/***************** Animation Loading spinner  *******************/

@keyframes spinner-container {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spinner-loader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
