/************************************/
/* GLOBAL STYLES*/
/************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: $Ohmyfood-white;
  // background: rosybrown;
  font-size: $Ohmyfood-fs-1;
  color: $Ohmyfood-black;
}

a {
  text-decoration: none;
  color: $Ohmyfood-black;
}

li {
  list-style: none;
}

img,
button,
a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

span {
  display: inline-block;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

/************************************/
/* REUSED STYLE */
/************************************/

.section-center {
  width: 90vw;
  max-width: 500px;
  // max-width: var(--max-width);
  margin: 0 auto;
}
