/************************************/
/* HEADER */
/************************************/

/******************Home Header ******************/
header {
  @include flexbox-center();
  min-width: 37.5rem;
  height: 6.4rem;
  box-shadow: $Ohmyfood-shadow-2;
}

/******************restaurant Header ******************/

.restaurant__header {
  max-width: 37.5rem;

  .header {
    width: 37.5rem;
    height: 6.4rem;
    box-shadow: $Ohmyfood-shadow-2;

    &__icon {
      font-size: 2rem;
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
    }

    &__logo {
      display: block;
      img {
        width: 16.5rem;
      }
    }
  }
}
