/************************************/
/* HEADER */
/************************************/

/******************Home Header ******************/
header {
  @include flexbox-center();
  min-width: 32rem;
  height: 6.4rem;
  box-shadow: $Ohmyfood-shadow-2;
  // background: red;
}

/******************restaurant Header ******************/

// .restaurant__header {
//
// }
.restaurant__header {
  // min-width: 32rem;
  // box-shadow: $Ohmyfood-shadow-2;
  // background: yellow;

  .header {
    width: 100%;
    height: 6.4rem;

    &__icon {
      font-size: 2rem;
    }

    &__links {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      height: 100%;
    }

    &__logo {
      display: block;
      img {
        width: 16.5rem;
      }
    }
  }
}
