/***************** HOME PAGE *******************/

/************************************/
/* LOADER */
/************************************/
.loader__container {
  background: #ffffffff;
  height: 100vh;
  @include flexbox-center();
  position: fixed;
  inset: 0;
  z-index: 10;
  animation: spinner-container 2s linear;
  visibility: hidden;
  .loader {
    width: 150px;
    height: 150px;
    border-color: $primary-color $secondary-color $tertiary-color
      $Ohmyfood-white;
    border-radius: 50%;
    box-shadow: $Ohmyfood-shadow-2;
    animation: spinner-loader 2s linear;

    &__circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 15px solid #162534;
      border-radius: 50%;
      border-color: $primary-color $secondary-color $tertiary-color;

      &__logo {
        width: 80px;
      }

      h1 {
        color: $gradient;
        font-family: "Shrikhand", cursive;
        text-shadow: $Ohmyfood-shadow-2;
        font-size: 20px;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

/************************************/
/* MAIN SECTION */
/************************************/

main {
  width: 37.5rem;
  background: $Ohmyfood-primary-grey;

  /***************** location *******************/
  .location {
    height: 4.9rem;
    background: $Ohmyfood-secondary-grey;
    @include flexbox-center();

    &__icon {
      width: 1.2rem;
      height: 1.6rem;
    }
    &__city {
      margin-left: 1.9rem; //à revoir en cas de changement d'écran
    }
  }

  /***************** hero *******************/
  .hero__container {
    background: $Ohmyfood-primary-grey;
    padding-top: 42px;

    height: 29rem;
    display: flex;
    justify-content: center;

    .hero {
      width: 310px;
      &__title {
        margin-bottom: 23px;
        margin: 0 20px 0 20px;
      }
      &__text {
        margin: 23px 0 31px 0;
      }

      &__button {
        @include button(20px, $gradient, 50px);
        width: 221px;

        &:hover {
          @include button-hover();
        }
      }
    }
  }

  /***************** functionning *******************/
  .functioning__container {
    height: 37.1rem;

    @media (min-width: 979px) {
      height: 20rem;
    }

    .functioning {
      &__title {
        color: $Ohmyfood-black;
        margin: 0px 0px 34px 25px;
      }

      &__buttons {
        display: grid;
        grid-template-columns: 1fr;
        transition: 0.3s ease-in-out;

        @media (min-width: 979px) {
          grid-template-columns: repeat(3, 1fr);
          height: auto;
        }
      }

      &__button {
        position: relative;
        width: 27rem;
        height: 7.6rem;
        @media (min-width: 1150px) {
          width: 29rem;
          transition: 0.3s ease-in-out;
        }

        @media (min-width: 1180px) {
          grid-template-columns: repeat(3, 1fr);
          width: 32.5rem;
          transition: 0.3s ease-in-out;
        }

        &:hover {
          @include hover();
        }

        @include flexbox-center();
        @include button(10px, $Ohmyfood-primary-grey, 20px);
        &:not(:nth-last-child(1)) {
          margin-bottom: 22px;
        }

        &__number {
          position: absolute;
          left: -10px;
          background: $primary-color;
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
          @include flexbox-center();
        }
        &__icon {
          color: $primary-color;
        }

        &__text {
          margin-left: 1.3rem;
          display: inline-block;
          color: $Ohmyfood-black;
          transition: 0.3s ease-in-out;

          @media (min-width: 1100px) {
            margin-left: 2rem;
          }
          @media (min-width: 1180px) {
            margin-left: 3.6rem;
          }
        }
      }
    }
  }

  /***************** restaurants *******************/

  .restaurant__container {
    height: 1186px;
    @media (min-width: 650px) {
      height: 65rem;
    }

    .restaurant {
      &__title {
        margin-left: 25px;
        margin-bottom: 20px;
      }

      &__menus {
        display: grid;
        justify-content: center;
        transition: 0.3s ease-in-out;
        grid-column: 1fr;
        margin: 0 auto;
        gap: 20px;

        @media (min-width: 650px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          justify-content: start;
          transition: 0.3s ease-in-out;
          margin: 0 3rem;
          gap: 20px;
        }
      }

      &__menu {
        width: 80vw;
        height: 253px;
        background: $Ohmyfood-white;
        border-radius: 20px;
        box-shadow: $Ohmyfood-shadow-1;

        @media (min-width: 650px) {
          width: 100%;
        }

        &:hover {
          @include hover();
        }
        &__image {
          img {
            height: 178px;
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
          }
        }

        &__description {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px;
          height: 75px;
        }
      }
    }
  }
}

/************************************/
/* RESTAURANT NAVIGATION*/
/************************************/
.receipe__image {
  min-width: 37.5rem;
  max-height: 30rem;
  background: #99e2d0;

  &__background {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
  }
}
.main__receipe__container {
  position: relative;
}
.main__receipe {
  top: -3.5rem;
  position: relative;
  min-width: 37.5rem;
  padding-top: 4.2rem;
  background: $Ohmyfood-primary-grey;
  border-radius: 40px 40px 0 0;
  z-index: 1;

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;

    h1 {
      font-family: "Shrikhand", cursive;
      font-size: 2.8rem;
      margin-bottom: 4.2rem;
    }

    .restaurant__menu__description__container {
      display: flex;
      align-items: center;
      height: 40px;
    }
  }

  &__icon {
    font-size: 2rem;
  }

  .main__receipe__entries__container {
    @media (min-width: 1190px) {
      display: flex;
    }
  }
  &__entries {
    padding-bottom: 4.5rem;
    @media (min-width: 1100px) {
      width: 100%;
    }
    &__receipes {
      position: relative;
      &__title {
        h2 {
          font-weight: lighter;
          margin-left: 1rem;
          margin-bottom: 1.2rem;
          text-transform: uppercase;

          &::after {
            content: "";
            position: absolute;
            background-color: $tertiary-color;
            margin-left: inherit;
            width: 4rem;
            height: 0.3rem;
            border-radius: 20px;

            left: 0;
            top: 2.8rem;
          }
        }
      }

      &__links {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 1rem;
        gap: 1rem;

        &__link {
          position: relative;
          box-shadow: $Ohmyfood-shadow-1;
          display: flex;
          border-radius: 15px;
          height: 7.2rem;
          background: #f7f7f7;
          transition: 0.5s ease;
          border-radius: 15px;

          &:hover {
            transition: 0.5s ease;
            @include button-hover();
          }
          &:hover &__one {
            transition: 0.5s ease;
            width: 83.7%;
          }

          &:hover &__tatu {
            animation: bounce-slide 0.5s cubic-bezier(0.58, 0, 1, 0.43);
            width: 5.7rem;
            height: 100%;
            display: flex;
          }

          &:hover .validation__box {
            @include flexbox-center;
            animation: slide-left 0.5s ease;
            transform-origin: right;
          }

          &:hover &__one__zole {
            transition: 0.5s ease;
          }

          &__one {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;

            width: 100%;
            height: 100%;
            &__mosi {
              white-space: nowrap;
              overflow: hidden;

              &__title {
                text-overflow: ellipsis;
                overflow: hidden;
              }

              &__description {
                &__content {
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
            }

            &__zole {
              font-weight: bold;
              margin-left: 2rem;
            }
          }

          &__tatu {
            position: absolute;
            right: 0;

            background: $tertiary-color;
            @include flexbox-center();
            border-radius: 0px 15px 15px 0px;
            display: none;

            &__check-icon {
              background: white;
              width: 2.2rem;
              height: 2.2rem;
              border-radius: 50%;
              padding: 1.25rem;
              @include flexbox-center();

              i {
                color: $tertiary-color;
                font-size: 2.25rem;
                animation: rotate 0.5s ease-in-out;
              }
            }
          }
        }
      }
    }
  }

  .receipes_command {
    @include button(20px, $gradient, 50px);
    width: 186px;

    &:hover {
      @include button-hover();
    }
  }
}
