/************************************/
/* GOOGLE FONTS */
/************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
/************************************/
/* CUSTOM PROPERTY*/
/************************************/
/************************************/
/* MIXINS */
/************************************/
/************************************/
/* GLOBAL STYLES*/
/************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  font-size: 1.6rem;
  color: #000000;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
button,
a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

span {
  display: inline-block;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

/************************************/
/* HEADER */
/************************************/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37.5rem;
  height: 6.4rem;
  background: yellow;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}

/************************************/
/* MAIN */
/************************************/
main {
  width: 37.5rem;
  /*----------loaction-section---------*/
  /*----------hero-section---------*/
  /*----------functionning-section---------*/
  /*----------constrol-section---------*/
}
main .location {
  height: 4.9rem;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .location__icon {
  width: 1.2rem;
  height: 1.6rem;
}
main .location__city {
  margin-left: 1.9rem;
}
main .hero__container {
  background: #f7f7f7;
  padding-top: 42px;
  height: 29rem;
  display: flex;
  justify-content: center;
}
main .hero__container .hero {
  max-width: 310px;
}
main .hero__container .hero__title {
  margin-bottom: 23px;
  margin: 0 20px 0 20px;
}
main .hero__container .hero__text {
  margin: 23px 0 31px 0;
}
main .hero__container .hero__button {
  opacity: 1;
  color: white;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  padding: 20px;
  margin: 0 auto;
  width: 221px;
}
main .functioning__container {
  height: 37.1rem;
}
main .functioning__container .functioning__title {
  color: #000000;
  margin: 0px 0px 34px 25px;
}
main .functioning__container .functioning__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .functioning__container .functioning__button {
  position: relative;
  width: 32.5rem;
  height: 7.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  opacity: 1;
  color: white;
  background: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  padding: 10px;
  margin: 0 auto;
}
main .functioning__container .functioning__button:not(:nth-last-child(1)) {
  margin-bottom: 22px;
}
main .functioning__container .functioning__button__number {
  position: absolute;
  left: -10px;
  background: #9356dc;
  border-radius: 50%;
  margin-right: 2.2rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .functioning__container .functioning__button__icon {
  color: #9356dc;
}
main .functioning__container .functioning__button__text {
  margin-left: 26px;
  display: inline-block;
  color: #000000;
}
main .restaurant__container {
  height: 1121px;
  background: #99e2d0;
  margin-bottom: 65px;
}
main .restaurant__container .restaurant__title {
  margin-left: 25px;
  background: #ff79da;
  margin-bottom: 20px;
}
main .restaurant__container .restaurant__menus {
  display: grid;
  background: #9356dc;
  justify-content: center;
  grid-column: 1fr;
  margin: 0 auto;
  gap: 20px;
}
main .restaurant__container .restaurant__menu {
  width: 343px;
  height: 253px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
main .restaurant__container .restaurant__menu__image img {
  height: 178px;
  width: 343px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
main .restaurant__container .restaurant__menu__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  height: 75px;
}
main .restaurant__container .restaurant__menu__description__icon {
  font-size: 25px;
  cursor: -webkit-grab;
  cursor: grab;
}
main .restaurant__container .restaurant__menu__description__icon:hover {
  background: red;
}/*# sourceMappingURL=styles.css.map */