/************************************/
/* GOOGLE FONTS */
/************************************/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");

/************************************/
/* CUSTOM PROPERTY*/
/************************************/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$Ohmyfood-white: #ffffff;
$Ohmyfood-black: #000000;

$Ohmyfood-primary-grey: #f7f7f7;
$Ohmyfood-secondary-grey: #eaeaea;
$Ohmyfood-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.2);
$Ohmyfood-shadow-2: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
$Ohmyfood-shadow-3: 0 5px 15px rgba(0, 0, 0, 0.4);
$transition: all 0.3s linear;
$gradient: linear-gradient(
  180deg,
  rgba(255, 121, 218, 1) 0%,
  rgba(147, 86, 220, 1) 100%
);

// fontsize
$Ohmyfood-fs-1: 1.6rem;
$Ohmyfood-fs-2: 1.8rem;
$Ohmyfood-fs-3: 2.4rem;

//font weight
$Ohmyfood-fw-400: 400;
$Ohmyfood-fw-600: 600;
$Ohmyfood-fw-700: 700;

/************************************/
/* MIXINS */
/************************************/
@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button($padding, $gradient, $border-radius) {
  opacity: 1;
  color: white;
  background: $gradient;
  border-radius: $border-radius;
  box-shadow: $Ohmyfood-shadow-1;
  font-size: $Ohmyfood-fs-1;
  padding: $padding;
  margin: 0 auto;
}

@mixin button-hover {
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: $Ohmyfood-shadow-3;
}

// @mixin theme($theme: DarkGray) {
//   background: $theme;
//   box-shadow: 0 0 1px rgba($theme, .25);
//   color: #fff;
// }

// .info {
//   @include theme;
// }
// .alert {
//   @include theme($theme: DarkRed);

/************************************/
/* GLOBAL STYLES*/
/************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: $Ohmyfood-white;
  font-size: $Ohmyfood-fs-1;
  color: $Ohmyfood-black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
button,
a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

span {
  display: inline-block;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

/************************************/
/* HEADER */
/************************************/
header {
  @include flexbox-center();
  width: 37.5rem;
  height: 6.4rem;
  background: yellow;
  box-shadow: $Ohmyfood-shadow-2;
}

/************************************/
/* MAIN */
/************************************/
main {
  width: 37.5rem;

  /*----------loaction-section---------*/
  .location {
    height: 4.9rem;
    background: $Ohmyfood-secondary-grey;
    @include flexbox-center();

    &__icon {
      width: 1.2rem;
      height: 1.6rem;
    }
    &__city {
      margin-left: 1.9rem; //à revoir en cas de changement d'écran
    }
  }

  /*----------hero-section---------*/
  .hero__container {
    background: $Ohmyfood-primary-grey;
    padding-top: 42px;

    height: 29rem;
    display: flex;
    justify-content: center;

    .hero {
      max-width: 310px;
      &__title {
        margin-bottom: 23px;
        margin: 0 20px 0 20px;
      }
      &__text {
        margin: 23px 0 31px 0;
      }

      &__button {
        @include button(20px, $gradient, 50px);
        width: 221px;
      }
    }
  }

  /*----------functionning-section---------*/
  .functioning__container {
    // background: #ff79da;
    // color: $Ohmyfood-black;
    height: 37.1rem;
    // height: 44.1rem;
    // padding-bottom: 70px;
    // margin-bottom: ;

    .functioning {
      &__title {
        color: $Ohmyfood-black;
        margin: 0px 0px 34px 25px;
      }

      &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__button {
        position: relative;
        width: 32.5rem;
        height: 7.6rem;
        @include flexbox-center();
        background: #99e2d0;
        @include button(10px, $Ohmyfood-primary-grey, 20px);
        &:not(:nth-last-child(1)) {
          margin-bottom: 22px;
        }
        // margin-bottom: 22px;
        // padding: 70px;
        // @include button(20px, $Ohmyfood-primary-grey);
        &__number {
          position: absolute;
          left: -10px;
          background: $primary-color;
          border-radius: 50%;
          margin-right: 2.2rem;
          width: 2.5rem;
          height: 2.5rem;
          @include flexbox-center();
        }
        &__icon {
          color: $primary-color;
        }

        &__text {
          margin-left: 26px;
          display: inline-block;
          color: $Ohmyfood-black;
        }
      }
    }
  }

  /*----------constrol-section---------*/
  .control {
    height: 400px;
    background: #99e2d0;
  }
}
